header{

    background-image: url(woodcafe.jpeg);
    background-position:center;
    background-size:cover;
    text-align: center;
    height:100%;
    width: 100%;
    position: relative;
    display:flex;
    align-items: center;


}

.wordsfinal:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }


i:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }

@-webkit-keyframes pop-in {
    0% { opacity: 0; -webkit-transform: scale(0.5); }
    100% { opacity: 1; -webkit-transform: scale(1); }
    }
@-moz-keyframes pop-in {
    0% { opacity: 0; -moz-transform: scale(0.5); }
    100% { opacity: 1; -moz-transform: scale(1); }
    }
@keyframes pop-in {
    0% { opacity: 0; transform: scale(0.5); }
    100% { opacity: 1; transform: scale(1); }
    }

header, nav, #tmCarousel, #Contact, .pt{
        -webkit-animation: pop-in 0.5s;
        -moz-animation: pop-in 0.5s;
        -ms-animation: pop-in 0.5s;
        }

html {
    scroll-behavior: smooth
}


img:hover { 
    border-radius: 30%;
    transition:all 0.3s ease;

}

.textblocks:hover{
border: inset 30px #ff7c5f;
  transition: border 0.3s linear 
}


hr {
    max-width: 50px;
    border-color: #f05f40;
    border-width: 3px;
   
}

h1, h2, h3{
text-shadow: 1px 1px 1px #666;
text-align: center
}

p{
color:#000000;
word-spacing:2pt;
font-size:15px;
text-align:center;
font-family:comic sans MS;
text-shadow: 1px 1px 1px #666;
min-width: 50%
}

.textblocks li{
    color:#000000;
    word-spacing:2pt;
    font-size:15px;
    font-family:comic sans MS;
    text-shadow: 1px 1px 1px #666;
    min-width: 50%

}


.row.pt img{
    vertical-align: middle;
    width:100%;
    height: auto;
}

.tm-carousel {
    max-width: 950px;
    margin: 3rem auto;
    padding-bottom: 3rem;
    text-align: center;
}


.tm-carousel-item-text {
    line-height: 1.6;;
    font-weight: 300;
}

.carousel-indicators {
	bottom: 0;
	margin-bottom: 0;
}

.carousel-indicators .active {
	background-color: #f05f40;
	margin: 1px;
}

.carousel-indicators li {
	background-color: rgb(205, 215, 226);
	border-color: rgb(205, 215, 226);	
}

.carousel-indicators .active,
.carousel-indicators li {
	width: 10px;
    height: 10px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.row.p5{
    text-align: center;
    align-items:center;
    margin-top: 1rem;
    background-color: rgb(234, 237, 240);
    font-family: Arial;
    padding: 30px
}

.col-lg-6.offset-lg-3.wordsfinal p{
    font-size:15px;
    margin: 0;
}

.row.col-md-6.col-sm-12.offset-md-3.buttons{
    font-size: 15px;
    margin-top: 20px;
    padding: 10px
}

.wordbox{
    padding: 10px;
}

.textblocks{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(234, 237, 240);}
    

